@media (min-width: @desktop) {
  .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 0 0 70px;

    &__greeting {
      width: 70%;
      min-width: 350px;
    }

    &__title {
      font-size: 100px;
      margin: 0;
      font-weight: normal;
      text-align: left;
    }

    &__image {
      width: 30%;
      background: url('../img/author-photo-aboutme@1x.jpg') no-repeat center;
      background-size: cover;
    }

    &__second-title {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__second-title--wide {
      width: 100%;
    }

    &__info h3 {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__text {
      padding-right: 100px;
    }

    h3:before {
      content: '';
      position: absolute;
      display: block;
      background: url('../img/red-line.svg') no-repeat;
      top: 17px;
      left: 0;
      width: 40px;
      height: 10px;
    }

    &__exp-list {
      list-style-type: none;
      padding: 0;
    }

    &__func-list {
      list-style-type: none;
      padding: 0;
    }

    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__experience {
      width: 70%;
      line-height: 36px;
    }

    &__exp-bold {
      font-weight: bold;
    }

    &__exp-color {
      color: #7e7e7e;
    }

    &__inner {
      width: 30%;
    }

    &__inner-exp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__functionality-wrapper {
      width: 60%;
    }

    &__experience-wrapper {
      width: 30%;
    }

    &__contacts {
      position: relative;
    }

    &__contacts-list {
      position: relative;
      list-style-type: none;
      padding-left: 40px;
      line-height: 36px;

      li:first-child::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/social-icons/icon-mail-contacts.svg') no-repeat;
        top: 10px;
        left: 0;
        width: 28px;
        height: 21px;
      }

      li:nth-child(2)::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/icon-flag-cz.png') no-repeat;
        top: 45px;
        left: 0;
        width: 28px;
        height: 21px;
      }
    }

    &__languages {
      margin-top: 115px;
    }

    &__table-padding {
      padding: 10px 0 10px 20px;
    }

    &__skills-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      padding: 0;

      li {
        border: 1px solid #fff;
        /* border-radius: 50px; */
        padding: 5px 20px;
        margin-right: 10px;
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
      }

      li:first-child {
        margin-left: 0;
        background-color: #cfe3ff;
      }

      li:nth-child(2) {
        background-color: spin(@about-me, 60);
      }

      li:nth-child(3) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(4) {
        background-color: spin(@about-me, 200);
      }

      li:nth-child(5) {
        background-color: spin(@about-me, 240);
      }

      li:nth-child(6) {
        background-color: spin(@about-me, 300);
      }

      li:nth-child(7) {
        background-color: spin(@about-me, 160);
      }

      li:nth-child(8) {
        background-color: spin(@about-me, 360);
      }

      li:nth-child(9) {
        background-color: spin(@about-me, 420);
      }

      li:nth-child(10) {
        background-color: spin(@about-me, 220);
      }

      li:nth-child(11) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(12) {
        background-color: spin(@about-me, 20);
      }

      li:nth-child(13) {
        background-color: spin(@about-me, 220);
      }
      
      li:nth-child(14) {
        background-color: spin(@about-me, 720);
      }

      li:hover {
        // opacity: 0.5;
      }
    }
  }
}
@media (min-width: @tablet) and (max-width: @desktop) {
  .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0 0 40px;

    &__greeting {
      width: 60%;
      min-width: 350px;
    }

    &__title {
      font-size: 70px;
      margin: 0;
      font-weight: normal;
      text-align: left;
    }

    &__image {
      width: 40%;
      background: url('../img/author-photo-aboutme@1x.jpg') no-repeat center;
      background-size: cover;
    }

    &__second-title {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__second-title--wide {
      width: 100%;
    }

    &__info h3 {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__text {
      padding-right: 40px;
    }

    h3:before {
      content: '';
      position: absolute;
      display: block;
      background: url('../img/red-line.svg') no-repeat;
      top: 17px;
      left: 0;
      width: 40px;
      height: 10px;
    }

    &__exp-list {
      list-style-type: none;
      padding: 0;
    }

    &__func-list {
      list-style-type: none;
      padding: 0;
    }

    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__experience {
      width: 100%;
      line-height: 36px;
    }

    &__exp-bold {
      font-weight: bold;
    }

    &__exp-color {
      color: #7e7e7e;
    }

    &__inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    &__inner-exp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__functionality-wrapper {
      width: 60%;
    }

    &__experience-wrapper {
      width: 30%;
    }

    &__contacts {
      position: relative;
      width: 50%;
    }

    &__contacts-list {
      position: relative;
      list-style-type: none;
      padding-left: 40px;
      line-height: 36px;

      li:first-child::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/social-icons/icon-mail-contacts.svg') no-repeat;
        top: 10px;
        left: 0;
        width: 28px;
        height: 21px;
      }

      li:nth-child(2)::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/icon-flag-cz.png') no-repeat;
        top: 45px;
        left: 0;
        width: 28px;
        height: 21px;
      }
    }

    &__languages {
      width: 50%;
    }

    &__table-padding {
      padding: 10px 0 10px 20px;
    }

    &__skills-wrapper {
      display: flex;
      flex-direction: wrap;
      flex-wrap: wrap;
    }

    &__skills-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      padding: 0;

      li {
        border: 1px solid #fff;
        /* border-radius: 50px; */
        padding: 5px 20px;
        margin-right: 10px;
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
      }

      li:first-child {
        margin-left: 0;
        background-color: #cfe3ff;
      }

      li:nth-child(2) {
        background-color: spin(@about-me, 60);
      }

      li:nth-child(3) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(4) {
        background-color: spin(@about-me, 200);
      }

      li:nth-child(5) {
        background-color: spin(@about-me, 240);
      }

      li:nth-child(6) {
        background-color: spin(@about-me, 300);
      }

      li:nth-child(7) {
        background-color: spin(@about-me, 160);
      }

      li:nth-child(8) {
        background-color: spin(@about-me, 360);
      }

      li:nth-child(9) {
        background-color: spin(@about-me, 420);
      }

      li:nth-child(10) {
        background-color: spin(@about-me, 220);
      }

      li:nth-child(11) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(12) {
        background-color: spin(@about-me, 20);
      }

      li:nth-child(13) {
        background-color: spin(@about-me, 220);
      }
      
      li:nth-child(14) {
        background-color: spin(@about-me, 720);
      }

      li:hover {
        // opacity: 0.5;
      }
    }
  }
}
@media (min-width: @mobile) and (max-width: @tablet) {
  .about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

    &__greeting {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 50px;
      margin: 0 0 0 20px;
      font-weight: normal;
      text-align: left;
    }

    &__image {
      height: 400px;
      width: 100%;
      background: url('../img/author-photo-aboutme@1x.jpg') no-repeat center;
      background-size: cover;
    }

    &__second-title {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__second-title--wide {
      width: 100%;
    }

    &__info {
      margin: 0 0 0 20px;
      padding-right: 20px;
    }

    &__info h3 {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 50px;
    }

    &__text {
      line-height: 30px;
      margin-bottom: 40px;
    }

    h3:before {
      content: '';
      position: absolute;
      display: block;
      background: url('../img/red-line.svg') no-repeat;
      top: 17px;
      left: 0;
      width: 40px;
      height: 10px;
    }

    &__exp-list {
      list-style-type: none;
      padding: 0;
    }

    &__func-list {
      list-style-type: none;
      padding: 0;
    }

    &__func-list li {
      margin: 15px 0;
      line-height: 20px;
    }

    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 20px;
    }

    &__experience {
      margin-top: 30px;
      width: 100%;
      line-height: 36px;
    }

    &__exp-bold {
      font-weight: bold;
    }

    &__exp-color {
      color: #7e7e7e;
    }

    &__inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    &__inner-exp {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__contacts {
      position: relative;
      width: 100%;
    }

    &__contacts-list {
      position: relative;
      list-style-type: none;
      padding-left: 40px;
      line-height: 36px;

      li:first-child::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/social-icons/icon-mail-contacts.svg') no-repeat;
        top: 10px;
        left: 0;
        width: 28px;
        height: 21px;
      }

      li:nth-child(2)::before {
        content: '';
        position: absolute;
        display: block;
        background: url('../img/icon-flag-cz.png') no-repeat;
        top: 45px;
        left: 0;
        width: 28px;
        height: 21px;
      }
    }

    &__languages {
      width: 100%;
    }

    &__table-padding {
      padding: 10px 0 10px 20px;
    }

    &__skills-wrapper {
      display: flex;
      flex-direction: wrap;
      flex-wrap: wrap;
      margin-left: 20px;
    }

    &__skills-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      padding: 0;

      li {
        border: 1px solid #fff;
        /* border-radius: 50px; */
        padding: 5px 20px;
        margin-right: 10px;
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
      }

      li:first-child {
        margin-left: 0;
        background-color: #cfe3ff;
      }

      li:nth-child(2) {
        background-color: spin(@about-me, 60);
      }

      li:nth-child(3) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(4) {
        background-color: spin(@about-me, 200);
      }

      li:nth-child(5) {
        background-color: spin(@about-me, 240);
      }

      li:nth-child(6) {
        background-color: spin(@about-me, 300);
      }

      li:nth-child(7) {
        background-color: spin(@about-me, 160);
      }

      li:nth-child(8) {
        background-color: spin(@about-me, 360);
      }

      li:nth-child(9) {
        background-color: spin(@about-me, 420);
      }

      li:nth-child(10) {
        background-color: spin(@about-me, 220);
      }

      li:nth-child(11) {
        background-color: spin(@about-me, 120);
      }

      li:nth-child(12) {
        background-color: spin(@about-me, 20);
      }

      li:nth-child(13) {
        background-color: spin(@about-me, 220);
      }
      
      li:nth-child(14) {
        background-color: spin(@about-me, 720);
      }

      li:hover {
        // opacity: 0.5;
      }
    }
  }
}
