@media (min-width: @desktop) {
  .projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;


    &__title {
      font-size: 100px;
      width: 100%;
      font-weight: normal;
      text-align: left;
      margin: 0px 70px 0px 70px;
    }
  }
}
