@media (min-width: @desktop) {
  .thank {
    padding: 0px 0px 0px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: url('../img/bg-logo-svg.svg') no-repeat left;

    &__wrapper {
      width: 90%;
      padding: 70px 0px 100px 0px;
    }

    &__arrow {
      margin: auto;
      width: 10%;
    }

    &__text-bold {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
